@media (max-width : 600px) {
    /* CSS for screens below or equal to 600px wide */
}

* {
  --primary-color: #3498db;
}

body {
  color: #fff; /* Steel Gray */
  font-family: "Roboto", sans-serif;
  background: rgb(21, 21, 54);
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500;
  color: #e2e8f2;
}

.head-section {
  background-image: linear-gradient(180deg, #3c288b, #2a55d8);
}

.navbar-brand,
.text-primary {
  color: #e2e8f2 !important;
}

.btn-primary {
  background-color: #184b98 !important;
  border: none;
}

.nav-link:hover {
  color: #0a58ca;
}

p {
  font-size: 18px;
}
.btn-primary:hover {
  background-color: #257dfd !important;
}

.blue-bg {
  background-color: #0a58ca;
  color: #fff;
}

.ionicons {
  color: #0a58ca;
  background-color: #f2f2f2;
  padding: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 12px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .active {
  background-color: #0a58ca !important;
  border: none;
  color: #fff !important;
}

.footer-section {
  background-color: #0a58ca !important;
  border: none;
  color: #fff !important;
}


  .custom-card {
   
    border-radius: 10px;
    background-color: #2b1954;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .profile-pic img {
    transition: transform 0.3s ease;
  }

  .custom-card:hover .profile-pic img {
    transform: scale(1.1);
  }

  .job-title {
    
    color: #cec5d8;
  }

  .tech-stacks {
    color: #007bff;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .github-icon {
    color: #333;
    transition: color 0.3s ease;
  }

  .github-icon:hover {
    color: #007bff;
  }



.snowflake {
  position: absolute;
  top: -10px; /* Start slightly off-screen */
  width: 10px;
  height: 10px;
  background-color: rgb(142, 127, 224);
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

/* Keyframes for snowflake falling animation */
@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.icon-row{
  display: flex;
  
  align-items: center;
}

.icon-row .img{
  height: 100px;
  width: 100px;
  
}

.img1 img{
  height: 50px;
  width: 50px;
  margin: 15px;
}
.img1:hover{
  filter: drop-shadow(1px 1px 10px rgb(194, 185, 185));
}

.img2 img{
  height: 40px;
  width: 50px;
  margin: 15px;
}
.img2:hover{
  filter: drop-shadow(1px 1px 10px rgb(191, 185, 185));
}

.img3 img{
  height: 50px;
  width: 50px;
  margin: 15px;
}
.img3:hover{
  filter: drop-shadow(1px 1px 10px rgb(191, 185, 185));
}
.img4 img {
height: 50px;
width: 50px;
margin: 15px;
}

/* .img2{
  color: white;
}
.img3{
  color: white;
}
.img{
  background-color: white;
} */
